@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&family=Open+Sans:wght@400;500;600;700&family=Press+Start+2P&family=Raleway:wght@400;500;600;700&family=Roboto+Slab:wght@400;500;700&family=Rubik+Wet+Paint&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffdeeb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/******************************************/
/*        CALCULATOR LAYOUT PATTERN      */
/****************************************/

.input-text {
  width: 44rem;
  /* height: 20vh; */
  font-size: 2.6rem;
  text-align: end;
  padding: 6rem 2rem;
  padding-bottom: 0.4rem;
  border: none;
  background-color: black;
  color: #fff;
  font-weight: 600;
  /* border-bottom: 2px solid #222; */
  border-radius: 2rem;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  outline: none;
}

.name-label {
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem;
}

.calculator {
  background-color: #343a40;
  border-radius: 2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.537);
}

/******************************************/
/*        CALCULATOR ELEMENT PATTERN      */
/****************************************/

.name {
  font-size: 1.6rem;
  letter-spacing: 2px;
  background-image: linear-gradient(#e2711d, #ff1654);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border: none;
  cursor: pointer;
}

.name-col {
  color: #868e96;
  font-weight: 500;
}

.btn {
  width: 4rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  background: none;
  border: none;
}

.equal-btn {
  font-size: 1.6rem;
  width: 10rem;
  height: 4rem;
  color: #fff;
  border-radius: 2rem;
  background-image: linear-gradient(to right, #e2711d, #ff1654, #1768ac);
  border: none;
}

.gray-col {
  color: #868e96;
}
